.barranav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #142A37;
  }

.itembarranav{
    float: left;
} 
  
.itembarranav a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
}

.itembarranav a:hover {
    background-color: #111;
}